$error-color: #f5222d;
$error-border-color: #ffa39e;
$error-bg-color: #fff1f0;
$info-color: #1890ff;
$info-border-color: #91d5ff;
$info-bg-color: #e6f7ff;
$warn-color: #faad14;
$warn-border-color: #ffe58f;
$warn-bg-color: #fffbe6;
$success-color: #52c41a;
$success-border-color: #b7eb8f;
$success-bg-color: #f6ffed;

.error-color {
    color: $error-color;
}
.error-bg-color {
    background-color: $error-bg-color;
}
.error-border-color {
    border-color: $error-border-color;
}
.warn-color {
    color: $warn-color;
}
.warn-bg-color {
    background-color: $warn-bg-color;
}
.warn-border-color {
    border-color: $warn-border-color;
}
.info-color {
    color: $info-color;
}
.info-bg-color {
    background-color: $info-bg-color;
}
.info-border-color {
    border-color: $info-border-color;
}
.success-color {
    color: $success-color;
}
.success-bg-color {
    background-color: $success-bg-color;
}
.success-border-color {
    border-color: $success-border-color;
}