@charset "UTF-8";
:global {
    [class*=jui-] {
        font-family: "PingFang SC", "Helvetica Neue", "Hiragino Sans GB", Helvetica, "Microsoft YaHei", Arial;
        line-height: 1.15;
        -webkit-text-size-adjust: 100%;
    }
}