@charset "UTF-8";

$hd: 1px;
$primary-color: #488aff;
$primary-tap-color: #427feb;
$error-color: #f53d3d;
$error-tap-color: #e13838;
$success-color: #32db64;
$success-tap-color: #2ec95c;
$warn-color: #faad14;

$text-color: #000;
$text-inverse-color: #fff;
$placeholder-color: #bbb;
$disabled-color: #bbb;

$bg-color: #fff;
$bg-tap-color: #ddd;

$border-color: #ddd;

$error-border-color: #ff7e77;
$error-bg-color: #fff1f0;
$info-color: $primary-color;
$info-border-color: #91d5ff;
$info-bg-color: #e6f7ff;
$warn-border-color: #ffe58f;
$warn-bg-color: #fffbe6;
$success-border-color: #b7eb8f;
$success-bg-color: #f6ffed;

$toast-light-bg-color: rgb(242, 242, 242);
$toast-dark-bg-color: rgba(58, 58, 58, 0.9);
$toast-overlay-bg-color: rgba(58, 58, 58, 0.4);

// z-index
$progress-zindex: 2000;
$popover-zindex: 1999;
$toast-zindex: 2999;
// $action-sheet-zindex: 1000; // actonsheet 会放到 popup / modal 中
// $picker-zindex: 1000;
// $popup-zindex: 999;
$modal-zindex: 999;

$h-spacing-lg: 15 * $hd;
$list-font-size: 16 * $hd;
$form-font-size: 16 * $hd;
$input-font-size: 16 * $hd;