@charset "UTF-8";
.wrapper {
    font-size: 16px;
    cursor: pointer;
    .input {
        display: none;
    }
    .icon {
        user-select: none;
        display: inline-block;
        font-size: 18px;
        vertical-align: middle;
        color: #d2d2d2;
    }
    .description {
        user-select: none;
        display: inline-block;
        margin-left: 5px;
    }
    &.disabled {
        opacity: .5;
        .icon {
            color: #e2e2e2;
        }
    }
    &.checked {
        .icon {
            color: #0e8ee9;
        }
    }
}