@charset "UTF-8";
@import "../style/Variables.scss";
.wrapper {
    width: 100%;
    border: none;
    padding: 12px 0;
    margin: 0;
    font-size: $input-font-size;
    color: $input-color;
    background-color: transparent;
    box-sizing: border-box;
    resize: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    &:focus {
        outline: none;
    }
}