@import "../style/Variables.scss";
.msg {
    margin: 0 0 10px 0;
    padding: 5px;
    border-radius: 0;
    border-left: none;
    border-right: none;
    &.isValid {
        visibility: hidden;
        display: block;
    }
    &.error {
        color: $error-color;
        input::placeholder, textarea::placeholder {
            color: $error-color;
        }
    }
    &.warn {
        color: $warn-color;
        input::placeholder, textarea::placeholder {
            color: $warn-color;
        }
    }
    &.info {
        color: $info-color;
        input::placeholder, textarea::placeholder {
            color: $info-color;
        }
    }
    &.success {
        color: $success-color;
        input::placeholder, textarea::placeholder {
            color: $success-color;
        }
    }
}
.popover {
    position: relative;
    width: 100%;
    height: 0;
    padding: 0;
    margin: 0;
    border: 0;
    .msg {
        margin: 0;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 10;
        &.isValid {
            display: none;
            visibility: visible;
        }
    }
}
