@import '../style/themes/color.scss';

.wrapper {
    &.error {
        color: $error-color;
    }
    &.warn {
        color: $warn-color;
    }
    &.info {
        color: $info-color;
    }
    &.success {
        color: $success-color;
    }
}