@import '../style/Variables.scss';

.wrapper {
    &.error {
        color: $error-color !important;
        input::placeholder, textarea::placeholder {
            color: $error-color !important;
        }
    }
    &.warn {
        color: $warn-color !important;
        input::placeholder, textarea::placeholder {
            color: $warn-color !important;
        }
    }
    &.info {
        color: $info-color !important;
        input::placeholder, textarea::placeholder {
            color: $info-color !important;
        }
    }
    &.success {
        color: $success-color !important;
        input::placeholder, textarea::placeholder {
            color: $success-color !important;
        }
    }
}