@charset "UTF-8";
@import './style/Variables';
@import './style/mixins/Hairline';
@import './style/mixins/tools.scss';

$button-height-sm: 30 * $hd;
$button-font-size-sm: 13 * $hd;

$button-height: 47 * $hd;
$button-font-size: 18 * $hd;

$button-height-lg: 64 * $hd;
$button-font-size-lg: 24 * $hd;

.btn {
    // do not use width:100%, can not set margin
    display: block;
    outline: 0 none;
    -webkit-appearance: none;
    box-sizing: border-box;
    padding: 0 $h-spacing-lg;
    text-align: center;
    font-size: $button-font-size;
    height: $button-height;
    line-height: $button-height;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    white-space: nowrap;
    user-select: none;
    color: $text-color;
    background-color: $bg-color;
    @include cssvar(btn-border-color, $border-color);
    @include hairline(all, cssvar(btn-border-color), $radius-md);
    // Multiple buttons inline arranged, the last one border-right may not display
    // &.borderfix {
    //   &:before {
    //     transform: scale(0.49)!important;
    //   }
    // }
    &.active {
        background-color: $bg-tap-color;
    }
    &.disabled {
        color: transparentize($text-color, .3);
        opacity: 0.6;
    }

    &.primary {
        color: $text-inverse-color;
        background-color: $primary-button-fill;
        @include cssvar(btn-border-color, $primary-button-fill);

        &.active {
            color: transparentize($text-inverse-color, .3);
            background-color: $primary-button-fill-tap;
        }

        &.disabled {
            color: transparentize($text-inverse-color, .6);
            opacity: 0.4;
        }
    }

    &.ghost {
        color: $ghost-button-color;
        background-color: transparent;
        @include hairline(all, $ghost-button-color, $radius-md);

        &.active {
            color: $ghost-button-fill-tap;
            background-color: transparent;
            @include cssvar(btn-border-color, $ghost-button-fill-tap);
        }

        &.disabled {
            color: transparentize($text-color, .1);
            @include hairline(all, transparentize($text-color, .1), $radius-md);
            opacity: 1; // override default opacity: 0.6
        }
    }

    &.warning {
        color: $text-inverse-color;
        background-color: $warning-button-fill;

        &.active {
            color: transparentize($text-inverse-color, .3);
            background-color: $warning-button-fill-tap;
        }

        &.disabled {
            color: transparentize($text-inverse-color, .6);
            opacity: 0.4;
        }
    }

    &.inline {
        display: inline-block;
    }

    &.small {
        font-size: $button-font-size-sm;
        height: $button-height-sm;
        line-height: $button-height-sm;
    }

    .icon, .content {
        display: inline-block;
        line-height: inherit;
    }
    .icon {
        &~span {
            margin-left: .5em;
        }
    }

    &.circle {
        width: $button-height;
        height: $button-height;
        @include hairline(all, $border-color, 50%);

        &.large {
            width: $button-height-lg;
            height: $button-height-lg;
            line-height: $button-height-lg;
        }

        &.small {
            width: $button-height-sm;
            height: $button-height-sm;
            line-height: $button-height-sm;
        }
    }
}