@charset "UTF-8";
@import './style/Variables';
@import './style/mixins/Hairline';
@import './style/mixins/tools.scss';

$button-height-sm: 30 * $hd;
$button-font-size-sm: 13 * $hd;

$button-height: 47 * $hd;
$button-font-size: 18 * $hd;

$button-height-lg: 64 * $hd;
$button-font-size-lg: 24 * $hd;

.btn {
    max-width: 100vw;
    display: inline-block;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    padding: 0 $h-spacing-lg;
    text-align: center;
    font-size: $button-font-size;
    height: $button-height;
    line-height: $button-height;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    user-select: none;
    color: $text-color;
    background-color: $bg-color;
    border: .5px solid $border-color;
    border-radius: $radius-md;
    .icon, .content {
        display: inline;
        line-height: inherit;
    }
    .icon ~ .content {
        margin-left: .5em;
    }
    &.active {
        background-color: $bg-tap-color;
    }
    &.disabled {
        color: rgba($text-color, .3);
        opacity: 0.6;
    }
    &.clear {
        border-color: transparent;
        &.active {
            color: rgba($text-color, .6);
            background-color: $bg-color;
        }
    }
    &.full {
        border-radius: 0;
        display: block;
    }
    &.block {
        display: block;
    }
    &.small {
        font-size: $button-font-size-sm;
        height: $button-height-sm;
        line-height: $button-height-sm;
    }
    &.large {
        font-size: $button-font-size-lg;
        height: $button-height-lg;
        line-height: $button-height-lg;
    }
    &.circle {
        width: $button-height;
        height: $button-height;
        border-radius: 50%;

        &.large {
            width: $button-height-lg;
            height: $button-height-lg;
            line-height: $button-height-lg;
        }
        &.small {
            width: $button-height-sm;
            height: $button-height-sm;
            line-height: $button-height-sm;
        }
    }
    &.primary {
        color: $text-inverse-color;
        background-color: $primary-color;
        border-color: $primary-color;
        &.active {
            color: rgba($text-inverse-color, .3);
            background-color: $primary-tap-color;
        }
        &.disabled {
            color: rgba($text-inverse-color, .6);
            opacity: 0.3;
        }
        &.outline {
            background-color: $bg-color;
            color: $primary-color;
            &.active {
                color: $text-inverse-color;
                background-color: $primary-color;
            }
            &.disabled {
                color: rgba($primary-color, .6);
            }
        }
        &.clear {
            color: $primary-color;
            background-color: $bg-color;
            border-color: transparent;
            &.active {
                color: rgba($primary-color, .6);
                background-color: $bg-color;
            }
            &.disabled {
                color: rgba($primary-color, .6);
            }
        }
    }
    &.danger {
        color: $text-inverse-color;
        background-color: #e94f4f;
        border-color: #e94f4f;
        &.active {
            color: rgba($text-inverse-color, .3);
            background-color: #d24747;
        }
        &.disabled {
            color: rgba($text-inverse-color, .6);
            opacity: 0.4;
        }
        &.outline {
            background-color: $bg-color;
            color: #e94f4f;
            &.active {
                color: $text-inverse-color;
                background-color: #e94f4f;
            }
            &.disabled {
                color: rgba(#e94f4f, .6);
            }
        }
        &.clear {
            color: #e94f4f;
            background-color: $bg-color;
            border-color: transparent;
            &.active {
                color: rgba(#e94f4f, .6);
                background-color: $bg-color;
            }
            &.disabled {
                color: rgba(#e94f4f, .6);
            }
        }
    }
}