@charset "UTF-8";
@import './style/Variables.scss';

$btn-border-color: #bbb;
$button-height-sm: 30 * $hd;
$button-font-size-sm: 13 * $hd;

$button-height: 47 * $hd;
$button-font-size: 18 * $hd;

$button-height-lg: 64 * $hd;
$button-font-size-lg: 24 * $hd;

.btn {
    max-width: 100vw;
    display: inline-block;
    appearance: none;
    outline: none;
    cursor: pointer;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 0 $h-spacing-lg;
    overflow: hidden;
    user-select: none;
    border-width: .5px;
    border-style: solid;
    border-radius: $radius-md;
    .control {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        .icon {
            flex: 0 0 auto;
        }
        .content {
            flex: 0 1 auto;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .icon ~ .content {
            padding-left: .5em;
        }
    }
    &.default {
        font-size: $button-font-size;
        height: $button-height;
        line-height: $button-height;
        color: $text-color;
        background-color: $bg-color;
        border-color: $btn-border-color;
        &.active {
            background-color: $bg-tap-color;
        }
    }
    &.primary {
        color: $text-inverse-color;
        background-color: $primary-color;
        border-color: $primary-color;
        &.active {
            background-color: $primary-tap-color;
        }
        &.outline, &.clear {
            color: $primary-color;
        }
    }
    &.danger {
        color: $text-inverse-color;
        background-color: #e94f4f;
        border-color: #e94f4f;
        &.active {
            background-color: #d24747;
        }
        &.outline, &.clear {
            color: #e94f4f;
        }
    }
    &.small {
        font-size: $button-font-size-sm;
        height: $button-height-sm;
        line-height: $button-height-sm;
    }
    &.large {
        font-size: $button-font-size-lg;
        height: $button-height-lg;
        line-height: $button-height-lg;
    }
    &.active {
        .control {
            opacity: .8;
        }
    }
    &.disabled {
        opacity: .6;
        .control {
            opacity: .3;
        }
    }
    &.outline {
        border-width: 1px;
        background-color: transparent;
        &.active {
            background-color: transparent;
            opacity: .6;
        }
        &.disabled {
            opacity: .3;
            .control {
                opacity: .6;
            }
        }
    }
    &.clear {
        border-color: transparent;
        background-color: transparent;
        &.active {
            background-color: transparent;
            opacity: .6;
        }
    }
    &.strong {
        font-weight: bold;
    }
    &.block {
        display: block;
    }
    &.full {
        border-radius: 0;
        display: block;
    }
    &.circle {
        width: $button-height;
        height: $button-height;
        border-radius: 50%;

        &.large {
            width: $button-height-lg;
            height: $button-height-lg;
            line-height: $button-height-lg;
        }
        &.small {
            width: $button-height-sm;
            height: $button-height-sm;
            line-height: $button-height-sm;
        }
    }
}