@charset "UTF-8";
.wrapper {
    font-size: 16px;
    .input {
        display: none;
    }
    .icon {
        display: inline-block;
        font-size: 1.35em;
        margin-right: 5px;
        vertical-align: middle;
        color: #d2d2d2;
    }
    .description {
        display: inline-block;
    }
    &.disabled {
        opacity: .6;
        .icon {
            color: #e2e2e2;
        }
    }
    &.checked {
        .icon {
            color: #0e8ee9;
        }
    }
}