@charset "UTF-8";
@import "./style/themes/default.scss";
@import "./style/mixins/hairline.scss";

.wrapper {
    display: flex;
    font-size: 17px;
    padding: 8px 0;
    background-color: $fill-base;
    align-items: center;
    .label {
        width: 5em;
        overflow: hidden;
        text-align: left;
        flex: 0 1 auto;
        white-space: nowrap;
    }
    .field-control {
        flex: 1 1 auto;
    }
    .label + .field-control {
        margin-left: .5em;
    }
}