@charset "UTF-8";
@import "./style/Variables.scss";

.wrapper {
    font-size: $form-font-size;
    padding: 1px 8px 0 8px;
    margin: 8px 0;
    background-color: $bg-color;
    border: 1px solid $border-color;
}