@charset "UTF-8";
@import "./style/Variables.scss";

.wrapper {
    display: flex;
    font-size: $form-font-size;
    background-color: $bg-color;
    border-bottom: 1px solid $border-color;
    &.horizontal {
        flex-direction: row;
        .label + .formitem-control {
            margin-left: .5em;
        }
    }
    &.vertical {
        flex-direction: column;
        .label {
            margin: 10px 0 3px 0;
            font-size: 14px;
            &.floating-label {
                font-size: $form-font-size;
                transform: translate3d(0, 33px, 0);
                transform-origin: left top;
                transition: transform 150ms ease-in-out;
                pointer-events: none;
                &.field-focused {
                    transform: translate3d(0,0,0) scale(.8);
                }
            }
        }
    }
    .label {
        width: 5em;
        overflow: hidden;
        text-align: left;
        flex: 0 1 auto;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .formitem-control {
        flex: 1 1 auto;
    }
}