.wrapper {
    font-family: "PingFang SC", "Helvetica Neue", "Hiragino Sans GB", Helvetica, "Microsoft YaHei", Arial;
    font-size: 14px;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    a {
        -webkit-tap-highlight-color: transparent;
    }
}