@charset "UTF-8";
@import "./style/Variables.scss";

.wrapper {
    display: inline-block;
    font-size: $form-font-size;
    margin: 12px 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    &.required::after {
        margin-left: 3px;
        content: "*";
        color: $error-color;
    }
}