@charset "UTF-8";
@import "./style/Variables.scss";

.wrapper {
    font-size: 17px;
    line-height: 34px;
    -webkit-tap-highlight-color: transparent;
    &.required::after {
        margin-left: 3px;
        content: "*";
        color: $error-color;
    }
}