@charset "UTF-8";
@import "./style/Variables.scss";

.wrapper {
    display: inline-block;
    font-size: $form-font-size;
    line-height: 34px;
    -webkit-tap-highlight-color: transparent;
    &.required::after {
        margin-left: 3px;
        content: "*";
        color: $error-color;
    }
}