@charset "UTF-8";
@import './style/Variables';

$section-title-height: 2em;
$odd-header-bgcolor: rgb(248, 89, 26);
$even-header-bgcolor: rgb(88, 144, 255);
$header-color: #fff;

$list-name: list;
.#{$list-name} {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    .item {
        display: block;
        &:nth-child(odd) {
            .section-header {
                background-color: $odd-header-bgcolor;
                color: $header-color;
            }
        }
        &:nth-child(even) {
            .section-header {
                background-color: $even-header-bgcolor;
                color: $header-color;
            }
        }
        .section {
            display: block;
            .section-header {
                padding: 0 15px;
                display: block;
                font-size: 20px;
                height: $section-title-height;
                line-height: $section-title-height;
                text-align: center;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                &.section-header-sticky {
                    position: sticky;
                    top: 0;
                }
            }
            .section-body {
                display: block;
            }
        }
        .row {
            background-color: #fff;
            border-top: 1px solid #ececed;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 0 15px;
            font-size: 17px;
        }
        .row-separator {
            background-color: rgb(245, 245, 249);
            height: 8px;
            border-top: 1px solid #ececed;
            border-bottom: 1px solid #ececed;
            padding: 0 15px;
        }
    }
}