@charset "UTF-8";
.items {
    display: block;
    flex: 1 1 auto;
    .item{
        font-size: 16px;
        height: 44px;
        line-height: 44px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 10px;
        &-focus {
            box-shadow: 1px 1px 1px #ccc;
        }
        &-input {
            display: inline-block;
        }
        .item-content, .item-icon, .item-input {
            margin-right: 10px;
        }
        .item-content {
            flex: 1 0 auto;
        }
        .item-icon, .item-input {
            flex: 0 0 auto;
            width: 1em;
        }
    }
    .item-group {
        .sub-item-arrow {
            flex: 0 0 auto;
        }
        &-active {
            background-color: #fff;
        }
    }
    .item {
        &-clicked {
            background-color: #ccc;
        }
    }
}
.active-sub-items {
    background-color: #fff;
}