@charset "UTF-8";
.items {
    display: block;
    flex: 1 1 auto;
    .item-group, .item{
        height: 2em;
        line-height: 2em;
        padding-left: 20px;
        font-size: 16px;
    }
    .item {
        &-clicked {
           background: #ccc;
        }
        &-focus {
            box-shadow: 1px 1px 1px #ccc;
        }
        &-input {
            display: inline-block;
        }
    }
    .active-item-group {
        background-color: #fff;
    }
}