@charset "UTF-8";
@import "./style/themes/default.scss";

$menu-btn-bgcolor: #008AE6;
$menu-btn-color: #fff;
$menu-name: menu;
$menu-btn-height: 47px;
$menu-btn-font-size: 18px;

.#{$menu-name}-wrap {
    display: inline-block;
}
.#{$menu-name}-btn {
    position: relative;
    z-index: 20;
    text-align: center;
    font-size: $menu-btn-font-size;
    padding: 0 15px;
    height: $menu-btn-height;
    line-height: $menu-btn-height;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    white-space: nowrap;
    color: #fff;
    background-color: $menu-btn-bgcolor;
    user-select: none;
}
.#{$menu-name}-items-root {
    position: relative;
    height: 0;
}
.#{$menu-name}-items-wrap {
    width: 100vw;
    height: 50vh;
    position: absolute;
    z-index: 20;
    display: flex;
    flex-direction: row;
}
.#{$menu-name}-items-wrap-backdrop {
    width: 100vw;
    height: 100vh;
    position: absolute;
    opacity: .4;
    background-color: #000;
    z-index: 10;
}