@charset "UTF-8";
@import './style/Variables.scss';
.wrapper {
    font-size: 18px;
    line-height: 1.5;
    color: #333;
    margin: 0;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid transparent;
    display: flex;

    .icon {
        flex: 0 0 auto;
    }
    .message {
        flex: 1 1 auto;
        text-align: left;
        word-break: break-all;
    }
    .icon + .message {
      margin-left: .3em;
    }

    &.error {
        border-color: $error-border-color;
        background-color: $error-bg-color;

        .icon {
            color: $error-color;
        }
    }
    &.warn {
        border-color: $warn-border-color;
        background-color: $warn-bg-color;

        .icon {
            color: $warn-color;
        }
    }
    &.info {
        border-color: $info-border-color;
        background-color: $info-bg-color;

        .icon {
            color: $info-color;
        }
    }
    &.success {
        border-color: $success-border-color;
        background-color: $success-bg-color;
        .icon {
            color: $success-color;
        }
    }

    .close-btn {
        font-size: 12px;
        position: absolute;
        right: 16px;
        top: 8px;
        line-height: 22px;
        overflow: hidden;
        cursor: pointer;
    }
}
