@charset "UTF-8";

.wrapper {
    font-size: 14px;
    line-height: 1.5;
    // color: rgba(0, 0, 0, 0.65);
    margin: 0;
    padding: 5px;
    border-radius: 4px;
    display: flex;
    align-items: center;

    .icon {
        flex: 0 0 auto;
    }
    .message {
        flex: 1 0 auto;
        text-align: left;
    }
    .icon + .message {
      margin-left: .3em;
    }

    &.error {
        border: 1px solid #ffa39e;
        background-color: #fff1f0;

        .icon {
            color: #f5222d;
        }
    }
    &.warn {
        border: 1px solid #ffe58f;
        background-color: #fffbe6;

        .icon {
            color: #faad14;
        }
    }
    &.info {
        border: 1px solid #91d5ff;
        background-color: #e6f7ff;

        .icon {
            color: #1890ff;
        }
    }
    &.success {
        border: 1px solid #b7eb8f;
        background-color: #f6ffed;
        .icon {
            color: #52c41a;
        }
    }

    .close-btn {
        font-size: 12px;
        position: absolute;
        right: 16px;
        top: 8px;
        line-height: 22px;
        overflow: hidden;
        cursor: pointer;
    }
}
