@charset "UTF-8";
@import './style/themes/color.scss';

.wrapper {
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.85);
    margin: 0;
    padding: 5px;
    border-radius: 4px;
    display: flex;
    align-items: center;

    .icon {
        flex: 0 0 auto;
    }
    .message {
        flex: 1 0 auto;
        text-align: left;
    }
    .icon + .message {
      margin-left: .3em;
    }

    &.error {
        border: 1px solid $error-border-color;
        background-color: $error-bg-color;

        .icon {
            color: $error-color;
        }
    }
    &.warn {
        border: 1px solid $warn-border-color;
        background-color: $warn-bg-color;

        .icon {
            color: $warn-color;
        }
    }
    &.info {
        border: 1px solid $info-border-color;
        background-color: $info-bg-color;

        .icon {
            color: #1890ff;
        }
    }
    &.success {
        border: 1px solid $success-border-color;
        background-color: $success-bg-color;
        .icon {
            color: $success-color;
        }
    }

    .close-btn {
        font-size: 12px;
        position: absolute;
        right: 16px;
        top: 8px;
        line-height: 22px;
        overflow: hidden;
        cursor: pointer;
    }
}
