@import './style/Variables.scss';

.wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: $bg-color;
    z-index: $modal-zindex;
    &.show {
        display: flex;
        flex-direction: column;
    }
    .header {
        background: #f8f8f8;
        .title {
            font-weight: 600;
        }
    }
    .body {

    }
}