@import './style/Variables.scss';

.wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: $bg-color;
    z-index: $modal-zindex;
    &.show {
        display: flex;
        flex-direction: column;
    }
    .header {
        background: #f8f8f8;
        .title {
            font-weight: 600;
        }
        .ok-btn, .cancel-btn, .close-btn {
            padding: 0 5px;
            display: inline-block;
            text-align: center;
        }
        .close-btn {
            margin-left: 10px;
        }
    }
    .body {

    }
}