@import './style/Variables.scss';

$navbar-height: 45 * $hd;

.wrapper {
    display: flex;
    height: $navbar-height;
    line-height: $navbar-height;
    align-items: center;
    font-size: 18px;
    > * {
        padding: 0 5px;
    }
    > :first-child {
        padding-left: 10px;
    }
    > :last-child {
        padding-right: 10px;
    }
    > .leftContent, > .rightContent {
        flex: 0 0 auto;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
    }
    > .content {
        flex: 1 1 0%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        > div {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
.light {
    background: #f8f8f8;
    border-bottom: 1px solid $border-color;
    .leftContent, .rightContent {
        color: $primary-color;
    }
    .leftContent:active, .rightContent:active {
        color: $primary-tap-color;
    }
    .title {
        color: $text-color;
    }
}
.dark {
    background: $primary-color;
    color: $text-inverse-color;
    .leftContent, .rightContent, .title {
        color: $text-inverse-color;
    }
}