@charset "UTF-8";
@import "./style/Variables.scss";
.wrapper {
    width: 100%;
    font-size: $input-font-size;
    color: $input-color;
    // padding: 2px 0;
    border: 0;
    background-color: transparent;
    box-sizing: border-box;
    -webkit-appearance: none;
    &:focus {
        outline: none;
    }
}