.wrapper {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    // position: relative;
    // &::before {
    //     position: absolute;
    //     bottom: -1px;
    //     width: 1px;
    //     height: 1px;
    //     content: "";
    // }
    // &::after {
    //     position: absolute;
    //     top: -1px;
    //     width: 1px;
    //     height: 1px;
    //     content: "";
    // }
    // .inner {
    //     min-height: calc(100% + 1px);
    // }
}
.disable-body-scroll {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    // height: 100vh;
    overflow: hidden !important;
}
.disable-scroll {
    overflow: hidden !important;
}