@charset "UTF-8";
@import "./style/Variables.scss";
.wrapper {
    display: inline-block;
    width: 100%;
    border: none;
    margin: 12px 0;
    padding: 0;
    font-size: $input-font-size;
    color: $text-color;
    background-color: transparent;
    box-sizing: border-box;
    resize: none;
    -webkit-appearance: none;
    &:focus {
        outline: none;
    }
}