@import './style/Variables.scss';

.wrapper {
    position: fixed;
    z-index: $toast-zindex;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    display: none;
    justify-content: center;
    &.wrapper-show {
        display: flex;
    }
    &.light {
        .toast {
            color: $text-color;
            background-color: $toast-light-bg-color;
            box-shadow: 0 2px 4px 0 #999;
            .icon {
                color: #444;
            }
        }
    }
    &.dark {
        .toast {
            color: $text-inverse-color;
            background-color: $toast-dark-bg-color;
            box-shadow: 0 2px 4px 0 #333;
        }
    }
    .toast {
        pointer-events: auto;
        max-width: calc(100vw - 30px);
        max-height: calc(100vh - 30px);
        box-sizing: border-box;
        padding: 15px;
        border-radius: 8px;
        margin: 15px;
        text-align: center;
        transform: translate3d(0, 0, 0);
        .icon {
            font-size: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .icon ~ .content {
            margin-top: 5px;
        }
        &.middle {
            align-self: center;
            opacity: 0;
            &.animate {
                transition: opacity .18s ease-in;
            }
            &.show {
                opacity: 1;
                &.animate {
                    transition-timing-function: ease-out;
                }
            }
        }
        &.top {
            align-self: flex-start;
            transform: translate3d(0, -100vh, 0);
        }
        &.bottom {
            align-self: flex-end;
            transform: translate3d(0, 100vh, 0);
        }
        &.top, &.bottom {
            &.animate {
                transition: transform .28s ease-in;
            }
            &.show {
                transform: translate3d(0, 0, 0);
                &.animate {
                    transition-timing-function: ease-out;
                }
            }
        }
    }
    &.overlay {
        background-color: $toast-overlay-bg-color;
        pointer-events: auto;
        &.overlay-animate {
            transition: background-color .18s ease-out;
        }
    }
}